-e git+https://github.com/OpenDataServices/lib-cove-web.git@main#egg=libcoveweb
django==2.2.*
libcove==0.20.2
django-rq==2.4.0
pip-tools
django-environ
django-redis==4.12.*

# For production
gunicorn
whitenoise
sentry-sdk
