.jsoneditor-menu {
  background-color: var(--dark) !important;
}

.jsoneditor {
/*  border: 1px solid var(--light) !important;*/
 border: unset !important;
}

.jsoneditor-container {
  height: 90%;
}

.btn-max {
    display: none !important;
}

.maximise {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: white;
    top: 0px;
    left: 0px;
    overflow-y: auto;
}