{% extends "base.html" %}
{% block title %}Home |{% endblock %}
{% block content %}
<div class="container mt-3">
  <h1 class="mb-3 text-right">Open Standards Lab</h1>

  {% include "about_top.html" %}

  {% if projects %}
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Open An Existing Project</h5>
      <div style="max-height: 20vh; overflow-y: auto;">
        <div style="column-count: 6;">
          <ul>
            {% for project in projects %}
            <li><a href="{% url "ui:project" project %}">{{project}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if EDIT_MODE %}
  <div class="card">
    <div class="card-body">

    <h5 class="card-title">Create A New Project</h5>

  <div class="form-group">
    <label for="new-project" class="mr-3">Project name</label>
    <input type="text" id="new-project" class="form-control" placeholder="project name" required>
    <small id="accepted-chars-hint">Accepted characters are A-Z, a-z, 0-9 , - and _ </small>
  </div>
  <div class="form-group">
    <a class="btn btn-primary card-link disabled" id="launch-new-project-link" href="#" data-base-url="{% url "ui:project" "__new__" %}?new=true" disabled="disabled">Create</a>
  </div>

  </div>
    </div>
</div>

<script>
  $(document).ready(function(){
    let projectLink = $("#launch-new-project-link");
    let acceptedCharsHint = $("#accepted-chars-hint");

    $("#new-project").on("keyup", function(e){

      if ($(this).val() && global.projectRegex.test($(this).val())){
        acceptedCharsHint.removeClass("text-danger");
        projectLink.removeClass("disabled");
        projectLink.prop({
          disabled: false,
          href: projectLink.data("base-url").replace("__new__", $(this).val()),
        });
      } else {
        acceptedCharsHint.addClass("text-danger");
        projectLink.addClass("disabled").prop({
          href: "#",
          disabled: true
        });
      }
    });

  });
</script>
{% endif %}
{% endblock %}
